(snip) {
    bind 127.0.0.1 ::1
    bind igb1
    any
    minimal
    log
    cache 300
    errors {
        consolidate 120s ".* i/o timeout$"
        consolidate 30s "^Failed to .+"
    }
}

{{ acme_domain }}.:{{ coredns_port }} {
    import snip
    file {{ coredns_path }}/master.db
}

home.arpa.:53 {
    import snip
    file {{ coredns_path }}/master.db
}

.:{{ coredns_port }} {
    import snip
    forward . {{ coredns_upstream_dns_server.ipv4_addr }}:{{ coredns_upstream_dns_server.port }} {
        except example.org
        except in-addr.arpa
        health_check 5s
        prefer_udp
    }
}
