(snip) {
    bind 127.0.0.1
    bind {{ coreDNS_ip }}
    whoami
    any
    minimal
    log
    cache 300
    errors {
        consolidate 120s ".* i/o timeout$"
        consolidate 30s "^Failed to .+"
    }
}

local.emanon:{{ coreDNS_port }} {
    import snip
    file /opt/coredns/master.db
}

.:{{ coreDNS_port }} {
    import snip
    prometheus {{ coreDNS_ip }}:{{ coreDNS_prometheus_port }}
    forward . {{ coreDNS_dns_toforward_ip }}:53 {
        except example.org
        except local.emanon
        health_check 5s
        prefer_udp
    }
}