(snip) {
    bind 127.0.0.1
    bind {{ ansible_bond0.device }}
    any
    minimal
    log
    cache 300
    errors {
        consolidate 120s ".* i/o timeout$"
        consolidate 30s "^Failed to .+"
    }
}

local.emanon:{{ coredns_port }} {
    import snip
    prometheus [::]:{{ coredns_prometheus_port }}
    file /opt/coredns/master.db
}

.:{{ coredns_port }} {
    import snip
    forward . 127.0.0.1:5301 [::1]:5301 127.0.0.1:5302 [::1]:5302 {
        policy random
        except example.org
        except local.emanon
        except in-addr.arpa
        health_check 5s
        prefer_udp
    }
}

.:5301 {
    prometheus [::]:{{ coredns_prometheus_port }}
    bind 127.0.0.1 ::1
    forward . tls://9.9.9.9 tls://9.9.9.11 {
        tls_servername dns.quad9.net
        health_check 5s
    }
    cache 30
}

.:5302 {
    prometheus [::]:{{ coredns_prometheus_port }}
    bind 127.0.0.1 ::1
    forward . tls://1.1.1.1 tls://1.0.0.1 {
        tls_servername cloudflare-dns.com
        health_check 5s
    }
    cache 30
}
