[Unit]
Description=Scheduled zpool %I scrubing service timer

[Timer]
OnCalendar={{ systemd_OnCalendar_scrubing_timer }}
Persistent=true
AccuracySec=1h
Unit=zpool-scrub@%i.service

[Install]
WantedBy=multi-user.target