[Unit]
Description=ZFS zpool %I trim service
{% for pool in zfs_pools -%}
{% if pool.enable_trim %}# Pools: {{ pool.pool }}{% endif %}{% if not loop.last %}, {% endif %}

{% endfor %}

[Service]
Type=oneshot
ExecStart=/usr/sbin/zpool trim %i
KillSignal=SIGINT
ProtectHome=read-only
ProtectSystem=full
ProtectControlGroups=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes

[Install]
WantedBy=multi-user.target