[Unit]
Description=ZFS zpool %I scrubing service
{% for pool in zfs_pools %}
# Pools: {{ pool.pool }}{% if not loop.last %}, {% endif %}

{% endfor %}

[Service]
Type=oneshot
ExecStart=/usr/sbin/zpool scrub %i
Nice=19
IOSchedulingClass=idle
KillSignal=SIGINT
ProtectHome=read-only
ProtectSystem=full
ProtectControlGroups=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes

[Install]
WantedBy=multi-user.target