---
zfs_systemd_on_calendar_scrubing_timer: monthly
# https://www.freedesktop.org/software/systemd/man/systemd.time.html
zfs_arc_max: 17179869184 # 16 Gibibytes in Bytes
zfs_manual_zpools_creation: false
zfs_set_permissions_blacklist: []
zfs_pools:
  - pool: fern
    enable_trim: false
    base_path: /fern # Carefull with the pool base mountpoint, must be changed too
    datasets:
      ## Media datasets ##
      - dataset: data
        compression: lz4
        recordsize: 1M
      ## Media dataset ##

      ## containers ##
      - dataset: containers
        compression: zstd-6
        zrepl_snapshot_policy: false

      - dataset: containers-bitwarden
        compression: zstd-6
        zrepl_snapshot_policy: zrepl_P2

      - dataset: containers-homeassistant
        compression: zstd-6
        zrepl_snapshot_policy: zrepl_P2

      - dataset: containers-jellyfin
        compression: zstd-6

      - dataset: containers-mosquitto
        compression: lz4
        zrepl_snapshot_policy: zrepl_P2

      - dataset: containers-satisfactory
        compression: zstd-6
        zrepl_snapshot_policy: zrepl_P3

      - dataset: containers-satisfactory1.1
        compression: zstd-6
        zrepl_snapshot_policy: zrepl_P3
      ## containers ##

      ## emanon datasets ##
      - dataset: emanon
        atime: on # yamllint disable-line rule:truthy
        relatime: on # yamllint disable-line rule:truthy
        zrepl_snapshot_policy: false

      - dataset: emanon-documents
        atime: on # yamllint disable-line rule:truthy
        relatime: on # yamllint disable-line rule:truthy
        compression: zstd
        zrepl_snapshot_policy: zrepl_P2

      - dataset: emanon-other_users
        compression: zstd
        zrepl_snapshot_policy: zrepl_P2
      ## emanon datasets ##

      ## emanonlab datasets ##
      - dataset: emanonlab
        compression: zstd
        zrepl_snapshot_policy: false

      - dataset: emanonlab-dev
        compression: zstd-12
        zrepl_snapshot_policy: zrepl_P2

      - dataset: emanonlab-misc
        compression: lz4
        zrepl_snapshot_policy: false

      - dataset: emanonlab-secrets
        compression: zstd
        zrepl_snapshot_policy: zrepl_P2
      ## emanonlab datasets ##

      - dataset: virtualmachines
        compression: zstd-6
