[defaults]
inventory=inventory.yml
interpreter_python=auto
vault_password_file=/home/emanon/.ansible/.VAULT_PASS
callbacks_enabled=ansible.posix.profile_roles
stdout_callback=yaml
force_handlers=True

[connection]
pipelining=True
