[defaults]
inventory = inventory.yml
interpreter_python = auto_silent
callbacks_enabled = ansible.posix.profile_roles
force_handlers = true
allow_world_readable_tmpfiles = true

[connection]
pipelining = true
