[Unit]
Description=Ansible ACME certificate automatic renewal timer

[Service]
User=ansible
Group=ansible
WorkingDirectory=/home/ansible/Ansible-EmanonLab/
Environment="ANSIBLE_VAULT_PASSWORD_FILE=/home/ansible/.VAULT_PASS"
ExecStart=/usr/bin/ansible-playbook --connection local --tags acme_dns /home/ansible/Ansible-EmanonLab/deploy_nas.yml

[Install]
WantedBy=multi-user.target