[Unit]
Description=Ansible ACME certificate automatic renewal timer

[Timer]
OnStartupSec=5m
Unit=ansible_acme_renew.service
OnUnitActiveSec={{ acme_dns_auto_renew_systemd_interval }}

[Install]
WantedBy=timers.target