[Unit]
Description=Mount NFS Share
After=network.target

[Mount]
What={{ nfs_server_target }}:{{ nfs_remote_share }}
Where={{ nfs_mount_dir }}
Type=nfs
Options=_netdev,auto

[Install]
WantedBy=multi-user.target
