[Unit]
Description=Mount NFS Share
After=network.target

[Mount]
What={{ grp_nfs_server_target }}:{{ grp_nfs_remote_share }}
Where={{ grp_nfs_mount_dir }}
Type=nfs
Options=_netdev,auto

[Install]
WantedBy=multi-user.target
