---
- name: Install kea dhcp servers IPv4 + IPv6
  community.general.pkgng:
    name: kea
    state: present

- name: Template kea-dhcp4 server configuration
  ansible.builtin.template:
    src: kea-dhcp4.conf.j2
    dest: /usr/local/etc/kea/kea-dhcp4.conf
    owner: root
    group: wheel
    mode: u=rw,g=r,o=r
    validate: /usr/local/sbin/kea-dhcp4 -T %s

- name: Template kea-dhcp6 server configuration
  ansible.builtin.template:
    src: kea-dhcp6.conf.j2
    dest: /usr/local/etc/kea/kea-dhcp6.conf
    owner: root
    group: wheel
    mode: u=rw,g=r,o=r
    validate: /usr/local/sbin/kea-dhcp6 -T %s
  notify: Restart kea

- name: Enable kea services ( dhcp4 + dhcp6 + ctrl agent )
  community.general.sysrc:
    name: kea_enable
    value: "YES"
