---
- name: Configure IPv4 interfaces
  community.general.sysrc:
    name: "ifconfig_{{ item.name }}"
    value: "{{ item.value }}"
  notify: Restart networking
  loop:
    - { name: igb0, value: DHCP }
    - { name: igb1, value: inet 192.168.5.1 netmask 255.255.255.0 }


- name: Configure IPv6 interfaces
  community.general.sysrc:
    name: "ifconfig_{{ item.name }}_ipv6"
    value: "{{ item.value }}"
  notify: Restart networking
  loop:
    - { name: igb0, value: inet6 accept_rtadv }
    - { name: igb1, value: "inet6 2a01:e0a:94f:f401:: prefixlen 64" }

- name: Enable routing
  community.general.sysrc:
    name: gateway_enable
    value: "YES"

- name: Enable IPv4 and IPv6 forwarding
  ansible.posix.sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
  loop:
    - { name: net.inet.ip.forwarding, value: 1 }
    - { name: net.inet6.ip6.forwarding, value: 1 }
