---
http_services:

  - service: rqbit
    fqdn: rqbit.home.emanon.dev
    reverse_proxy: fern.home.arpa
    direct_access: false
    internal: true
    backend: localhost
    port: 3030

  - service: qbitorrent
    fqdn: qbitorrent.home.emanon.dev
    reverse_proxy: fern.home.arpa
    direct_access: false
    internal: true
    backend: localhost
    port: 8080

  - service: prowlarr
    fqdn: prowlarr.home.emanon.dev
    reverse_proxy: fern.home.arpa
    direct_access: false
    internal: true
    backend: localhost
    port: 9696

  - service: sonarr
    fqdn: sonarr.home.emanon.dev
    reverse_proxy: fern.home.arpa
    direct_access: false
    internal: true
    backend: localhost
    port: 8989

  - service: radarr
    fqdn: radarr.home.emanon.dev
    reverse_proxy: fern.home.arpa
    direct_access: false
    internal: true
    backend: localhost
    port: 7878

  - service: jellyseer
    fqdn: jellyseer.home.emanon.dev
    reverse_proxy: fern.home.arpa
    direct_access: false
    internal: true
    backend: localhost
    port: 5055

  - service: homeassistant
    fqdn: hass.emanon.dev
    reverse_proxy: fern.home.arpa
    direct_access: false
    internal: false
    backend: localhost
    port: 7006

  - service: jellyfin
    fqdn: jellyfin.emanon.dev
    reverse_proxy: fern.home.arpa
    direct_access: false
    internal: false
    backend: localhost
    port: 7007

  - service: emanon-dev
    fqdn: emanon.dev
    reverse_proxy: fern.home.arpa
    direct_access: false
    internal: false
    backend: localhost
    port: 7008

  - service: bitwarden
    fqdn: bitwarden.home.emanon.dev
    reverse_proxy: fern.home.arpa
    direct_access: false
    internal: true
    backend: localhost
    port: 7010

  - service: shp01
    fqdn: shp01.home.emanon.dev
    reverse_proxy: fern.home.arpa
    internal: true
    backend: shp01.home.arpa
    port: 80

  - service: shp02
    fqdn: shp02.home.emanon.dev
    reverse_proxy: fern.home.arpa
    internal: true
    backend: shp02.home.arpa
    port: 80

  - service: shp03
    fqdn: shp03.home.emanon.dev
    reverse_proxy: fern.home.arpa
    internal: true
    backend: shp03.home.arpa
    port: 80

  - service: shp04
    fqdn: shp04.home.emanon.dev
    reverse_proxy: fern.home.arpa
    internal: true
    backend: shp04.home.arpa
    port: 80

  - service: shp05
    fqdn: shp05.home.emanon.dev
    reverse_proxy: fern.home.arpa
    internal: true
    backend: shp05.home.arpa
    port: 80

tcp_services:
  - service: minecraft
    fqdn: minecraft.emanon.dev
    direct_access: true
    internal: false
    port: 25565
