---
global:
  logging:
    - type: syslog
      format: human
      level: warn

jobs:
  - name: zrepl_default
    type: snap
    filesystems: {
{% for pool in zfs_pools %}{% if pool.datasets is defined %}{% for dataset in pool.datasets %}{% if dataset.zrepl_snapshot_policy | default("zrepl_default") == "zrepl_default" %}
      {{ pool.pool + "/" + dataset.dataset | regex_replace('-', '/')  + ": true," }}
{% endif %}{% endfor %}{% endif %}{% endfor %}
{% for pool in zfs_pools %}{% if pool.volumes is defined %}{% for volume in pool.volumes %}{% if volume.zrepl_snapshot_policy | default("zrepl_default") == "zrepl_default" %}
      {{ pool.pool + "/" + volume.volume | regex_replace('-', '/')  + ": true," }}
{% endif %}{% endfor %}{% endif %}{% endfor %}   }
    snapshotting:
      type: periodic
      prefix: "zrepl_default_"
      interval: 1h
    pruning:
      keep:
      - type: grid
        grid: 2x48h(keep=all) | 1x30d(keep=1) | 1x90d(keep=1)
        regex: "^zrepl_default_.*"
      - type: regex
        negate: true
        regex: "^zrepl_default_.*"

  - name: zrepl_P3
    type: snap
    filesystems: {
{% for pool in zfs_pools %}{% if pool.datasets is defined %}{% for dataset in pool.datasets %}{% if dataset.zrepl_snapshot_policy | default(omit) == "zrepl_P3" %}
      {{ pool.pool + "/" + dataset.dataset | regex_replace('-', '/')  + ": true," }}
{% endif %}{% endfor %}{% endif %}{% endfor %}
{% for pool in zfs_pools %}{% if pool.volumes is defined %}{% for volume in pool.volumes %}{% if volume.zrepl_snapshot_policy | default(omit) == "zrepl_P3" %}
      {{ pool.pool + "/" + volume.volume | regex_replace('-', '/')  + ": true," }}
{% endif %}{% endfor %}{% endif %}{% endfor %}    }
    snapshotting:
      type: periodic
      prefix: "zrepl_P3_"
      interval: 10m
    pruning:
      keep:
      - type: grid
        grid: 1x1h(keep=all) | 1x24h(keep=1)
        regex: "^zrepl_P3_.*"
      - type: regex
        negate: true
        regex: "^zrepl_P3_.*"
