global:
  logging:
    # use syslog instead of stdout because it makes journald happy
    - type: syslog
      format: human
      level: warn

  monitoring:
  - type: prometheus
    listen: '127.0.0.1:9811'

jobs:
- name: zrepl_snap
  type: snap
  filesystems: {
      "<": true,
      "vault/files": false,
  }
  snapshotting:
    type: periodic
    prefix: "zrepl_"
    interval: 30m
  pruning:
    keep:
    - type: grid
      grid: 24x1h(keep=1) | 1x30d(keep=1)
      regex: "^zrepl_.*"
    - type: regex
      negate: true
      regex: "^zrepl_.*"

- name: zrepl_snap_files
  type: snap
  filesystems: {
      "vault/files": true,
  }
  snapshotting:
    type: periodic
    prefix: "zrepl_files_"
    interval: 1m
  pruning:
    keep:
    - type: grid
      grid: 1x10m(keep=all) | 24x1h(keep=1) | 1x30d(keep=1)
      regex: "^zrepl_files_.*"
    - type: regex
      negate: true
      regex: "^zrepl_files_.*"