[[domain]]
{% for domain in takina %}
name = "{{ domain.domain }}"
api_key = "{{ domain.api_key }}"

{% for record in domain.records %}
    [[domain.record]]
    name = "{{ record.record }}"
    type = "{{ record.type }}"
    ttl = {{ record.ttl }}

{% endfor %}{% endfor %}
