[Container]
Image={{ prometheus_image }}:{{ prometheus_image_version }}
ContainerName=prometheus
Network=slirp4netns
SecurityLabelDisable=true
Timezone=Europe/Paris
User=root

{% for volume in prometheus_volumes %}
Volume={{ volume }}
{% endfor %}

{% for mappings in prometheus_port %}
PublishPort={{ mappings }}
{% endfor %}

PodmanArgs=--cgroups no-conmon --cidfile "%t/%n.ctr-id"

[Install]
WantedBy=default.target
