{
  "Dhcp4": {
    "interfaces-config": {
      "dhcp-socket-type": "udp",
      "interfaces": [
        "bond0"
      ]
    },
    "multi-threading": {
      "enable-multi-threading": true,
      "thread-pool-size": 4,
      "packet-queue-size": 28
    },
    "control-socket": {
      "socket-type": "unix",
      "socket-name": "/tmp/kea4-ctrl-socket"
    },
    "hooks-libraries": [
      {
        "library": "/usr/lib/x86_64-linux-gnu/kea/hooks/libdhcp_stat_cmds.so"
      },
      {
        "library": "/usr/lib/x86_64-linux-gnu/kea/hooks/libdhcp_lease_cmds.so"
      }
    ],
    "lease-database": {
      "type": "memfile",
      "persist": true,
      "lfc-interval": 1800,
      "max-row-errors": 100
    },
    "loggers": [
      {
        "name": "kea-dhcp4",
        "output_options": [
          {
            "output": "/var/log/kea/kea-dhcp4.log",
            "pattern": {% raw %}"%D{%Y-%m-%d %H:%M:%S.%q} %-5p [%c/%i] %m\n",{% endraw %}

            "flush": false,
            "maxsize": 1048576,
            "maxver": 8
          }
        ],
        "severity": "INFO",
        "debuglevel": 0
      }
    ],
    "valid-lifetime": 4600,
    "renew-timer": 1000,
    "rebind-timer": 2000,
    "option-data": [
      {
        "name": "domain-name-servers",
        "data": "{% for dns_server in dns_servers.ipv4 %}{{ dns_server }}{% if not loop.last %}, {% endif %}{% endfor %}"
      },
      {
        "name": "domain-search",
        "data": "{% for domain in domains_search %}{{ domain }}{% if not loop.last %}, {% endif %}{% endfor %}"
      },
      {
        "name": "ntp-servers",
        "data": "{% for ntp_server in ntp_servers.ipv4 %}{{ ntp_server }}{% if not loop.last %}, {% endif %}{% endfor %}"
      }
    ],
    "host-reservation-identifiers": [
      "hw-address"
    ],
    "subnet4": [{% for subnet in kea_dhcp4 %}

    {
        "subnet": "{{ subnet.subnet }}",
        "pools" : [{% for pool in subnet.pools +%}
          {
            "pool": "{{ pool.start }}-{{ pool.end }}"
          }{% if not loop.last %},{% endif %}{% endfor %}

        ],

        "option-data": [{% for option_data in subnet.options_data %}

          {
            "name": "{{ option_data.option_data }}",
            "data": "{% for data in option_data.data %}{{ data }}{% if not loop.last %}, {% endif %}{% endfor %}"
          }{% if not loop.last %},{% endif %}{% endfor %}

        ],
        "reservations": [{% for reservation in subnet.reservations %}

          {
            "hw-address": "{{ reservation.hw_addr }}",
            "ip-address": "{{ reservation.ipv4_addr | ansible.utils.ipaddr('address') }}",
            "hostname": "{{ reservation.hostname }}"
          }{%if not loop.last %},{% endif %}{% endfor %}

        ]
      }{% if not loop.last %},{% endif %}{% endfor %}

    ]
  }
}
