{
  "Dhcp6": {
    "interfaces-config": {
      "interfaces": [
        "bond0"
      ]
    },
    "multi-threading": {
      "enable-multi-threading": true,
      "thread-pool-size": 4,
      "packet-queue-size": 28
    },
    "control-socket": {
      "socket-type": "unix",
      "socket-name": "/tmp/kea6-ctrl-socket"
    },
    "hooks-libraries": [
      {
        "library": "/usr/lib/x86_64-linux-gnu/kea/hooks/libdhcp_stat_cmds.so"
      },
      {
        "library": "/usr/lib/x86_64-linux-gnu/kea/hooks/libdhcp_lease_cmds.so"
      }
    ],
    "lease-database": {
      "type": "memfile",
      "persist": true,
      "name": "/var/lib/kea/dhcp6.leases",
      "lfc-interval": 1800,
      "max-row-errors": 100
    },
    "loggers": [
      {
        "name": "kea-dhcp6",
        "output_options": [
          {
            "output": "/var/log/kea/kea-dhcp6.log",
            "pattern": {% raw %}"%D{%Y-%m-%d %H:%M:%S.%q} %-5p [%c/%i] %m\n",{% endraw %}

            "flush": false,
            "maxsize": 1048576,
            "maxver": 8
          }
        ],
        "severity": "INFO",
        "debuglevel": 0
      }
    ],
    "valid-lifetime": 6000,
    "renew-timer": 1000,
    "rebind-timer": 2000,
    "preferred-lifetime": 3000,
    "option-data": [
      {
        "name": "unicast",
        "data": "{{ grp_device.router.ipv6_addr }}"
      },
      {
        "name": "dns-servers",
        "data": "{% for dns_server in kea_dns_ipv6_servers %}{{ dns_server }}{% if not loop.last %}, {% endif %}{% endfor %}"
      },
      {
        "name": "domain-search",
        "data": "{% for domain in kea_domains_search %}{{ domain }}{% if not loop.last %}, {% endif %}{% endfor %}"
      },
      {
        "name": "sntp-servers",
        "data": "{% for ntp_server in kea_ntp_ipv6_servers %}{{ ntp_server }}{% if not loop.last %}, {% endif %}{% endfor %}"
      }
    ],
    "host-reservation-identifiers": [
      "duid", "hw-address"
    ],
    "subnet6": [{% for subnet in host_kea_dhcp6 %}

     {
        "subnet": "{{ subnet.subnet }}",
        "pools" : [{% for pool in subnet.pools +%}
          {
            "pool": "{{ pool.start }}-{{ pool.end }}"
          }{% if not loop.last %},{% endif %}{% endfor %}

        ],
        {%- if subnet.pd_pools is defined %}

        "pd-pools": [{% for pd_pool in subnet.pd_pools +%}
          {
            "prefix": "{{ pd_pool.prefix }}",
            "prefix-len": {{ pd_pool.prefix_len }},
            "delegated-len": {{ pd_pool.delegated_len }}{% if pd_pool.excluded_prefix is defined %},{% endif +%}
            {% if pd_pool.excluded_prefix is defined %}"excluded-prefix": "{{ pd_pool.excluded_prefix }}",
            {% endif -%}
            {% if pd_pool.excluded_prefix_len is defined %}"excluded-prefix-len": {{ pd_pool.excluded_prefix_len }}
            {% endif -%}
          }{% if not loop.last %},{% endif %}{% endfor %}

        ],{% endif %}

        "option-data": [{% for option_data in subnet.options_data %}

          {
            "name": "{{ option_data.option_data }}",
            "data": "{% for data in option_data.data %}{{ data }}{% if not loop.last %}, {% endif %}{% endfor %}"
          }{% if not loop.last %},{% endif %}{% endfor %}

        ],
        "reservations": [{% for reservation in subnet.reservations %}

          {
            {% if reservation.hw_addr is defined %}"hw-address": "{{ reservation.hw_addr }}",
            {% endif -%}
            {% if reservation.duid is defined and reservation.hw_addr is not defined %}"duid": "{{ reservation.duid }}",
            {% endif -%}
            "ip-addresses": [{% for ipv6_addr in reservation.ipv6_addr %}"{{ ipv6_addr }}"{% if not loop.last %}, {% endif %}{% endfor %}],
            {% if reservation.prefixes is defined %}"prefixes": [{% for prefixes in reservation.prefixes %}"{{ prefixes }}"{% if not loop.last %}, {% endif %}{% endfor %}],
            {% endif -%}
            "hostname": "{{ reservation.hostname }}"
          }{% if not loop.last %},{% endif %}{% endfor %}

        ]
      }{% if not loop.last %},{% endif %}{% endfor %}

    ]
  }
}
