---
- name: Enable pf
  community.general.sysrc:
    name: "{{ item }}"
    value: "YES"
  loop: [pf_enable, pflog_enable]

- name: Configure pf
  ansible.builtin.template:
    src: pf.conf.j2
    dest: /etc/pf.conf
    owner: root
    group: wheel
    mode: u=rw,g=r,o=r
    validate: pfctl -vnf %s
  notify: Reload pf
