frr defaults traditional
hostname r
log syslog informational
service integrated-vtysh-config
!
ipv6 route ::/0 wg48
ipv6 route {{ grp_ipv6_prefix }}:ae10::/64 {{ grp_ipv6_prefix }}:5::2 bond0 onlink
ipv6 route {{ grp_ipv6_prefix }}:ae20::/64 {{ grp_ipv6_prefix }}:5::2 bond0 onlink
ipv6 route {{ grp_ipv6_prefix }}:ae50::/64 {{ grp_ipv6_prefix }}:5::2 bond0 onlink
ipv6 route {{ grp_ipv6_prefix }}:ae70::/64 {{ grp_ipv6_prefix }}:5::2 bond0 onlink
ipv6 route {{ grp_ipv6_prefix }}:ae80::/64 {{ grp_ipv6_prefix }}:5::2 bond0 onlink
!
interface bond0
 ip ospf area 0
 ip ospf network non-broadcast
!
router ospf
 ospf router-id {{ frr_ospf_router_id }}
 neighbor {{ brocade_static_ip }}
!
line vty
!