[Unit]
Description=Periodic echo-request service to {{ echo_request_target }}
After=network-pre.target

[Service]
Type=simple
ExecStart=/usr/bin/ping -c {{ echo_request_count }} {{ echo_request_target }}
ProtectHome=read-only
ProtectSystem=full
ProtectControlGroups=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes

[Install]
WantedBy=multi-user.target