[Unit]
Description=Python3 http server for http-01 challenge validation

[Service]
User={{ primary_user_username }}
Group={{ primary_user_username }}
ExecStart=python3 -m http.server {{ acme_server_port }}
WorkingDirectory={{ acme_http_server_path }}
ProtectHome=read-only
ProtectSystem=full
ProtectControlGroups=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes

[Install]
WantedBy=multi-user.target