[global]
    workgroup = WORKGROUP
    interfaces = {{ ansible_default_ipv4.interface }}
    server min protocol = SMB3
    server max protocol = SMB3
    vfs objects = acl_xattr

[main]
    path = /tank
    browseable = yes
    read only = no
    guest ok = no
    public = no
    writeable = yes
    valid users = emanon_samba
    force user = emanon
    create mask = 0775
    directory mask = 0755

[media]
    path = /tank/media_2
    browseable = yes
    read only = yes
    guest ok = no
    public = no
    valid users = maeyo