[Unit]
Description=Restic {{ item.task }} backup timer

[Timer]
OnStartupSec=5m
OnUnitActiveSec={{ item.systemd_timer_interval }}
Unit=restic-{{ item.task }}.service

[Install]
WantedBy=timers.target
