{% for service in http_services %}
{{ service.fqdn }} {
      reverse_proxy {{ service.backend }}:{{ service.port }}
{% if service.internal %}
      tls /etc/caddy/{{ service.fqdn }}.pem /etc/caddy/{{ service.fqdn }}.key
{% endif -%}
}

{% endfor -%}
