[Service]
Type=simple
User=gandi
Group=gandi
EnvironmentFile=/etc/systemd/system/gad.env
ExecStart=sh -c '/opt/gandi-automatic-dns-{{ gad_version }}/gad -5 -6 -v -a $API_KEY -d {{ gandi_domain_name }} -r {{ gandi_subdomain }}'
TimeoutStartSec=300
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target