source /etc/network/interfaces.d/*

auto lo
iface lo inet loopback

{% for interface in host_network_interfaces %}
auto {{ interface.interface }}
allow-hotplug {{ interface.interface }}

{% endfor %}
{% for interface in host_network_interfaces %}{% if interface.ipv4 is defined %}{% if interface.ipv4 == True %}
iface {{ interface.interface }} inet {{ interface.configuration.v4 }}
	{% if interface.bonding.slaves is defined -%}
	bond-slaves {% for slaves in interface.bonding.slaves %}{{ slaves }} {% endfor +%}
	bond_mode {{ interface.bonding.mode }}
	bond_miimon {{ interface.bonding.millim }}
	{% endif -%}
	{% if interface.configuration.v4 == 'static' -%}
	{% for address in interface.addresses.v4 %}address {{ address }}
	{% endfor -%}
	{% if interface.gateway.v4 is defined %}gateway {{ interface.gateway.v4 }}
	{% endif %}{% endif -%}
	{% if interface.hwaddress is defined %}hwaddress {{ interface.hwaddress }}
	{% endif -%}
	{% if interface.dns_servers.v4 is defined %}{% for dns_server in interface.dns_servers.v4 %}dns-nameservers {{ dns_server }}
	{% endfor %}{% endif %}

{% endif %}{% endif %}{% endfor %}

{% for interface in host_network_interfaces %}{% if interface.ipv6 is defined %}{% if interface.ipv6 == True %}
iface {{ interface.interface }} inet6 {{ interface.configuration.v6 }}
	{% if interface.configuration.v6 == 'static' -%}
	{% for address in interface.addresses.v6 %}address {{ address }}
	{% endfor -%}
	{% if interface.gateway.v6 is defined %}gateway {{ interface.gateway.v6 }}
	{% endif %}{% endif -%}
	{% if interface.dns_servers.v6 is defined %}{% for dns_server in interface.dns_servers.v6 %}dns-nameservers {{ dns_server }}
	{% endfor %}{% endif %}

{% endif %}{% endif %}{% endfor %}