# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto {{ grp_device.router.wan_interface }}
iface {{ grp_device.router.wan_interface }} inet dhcp
	dns-nameservers 127.0.0.1

auto {{ lacp_interface_name }}
iface {{ lacp_interface_name }} inet static
	address {{ grp_device.router.ipv4_addr_cidr }}
	bond-slaves {{ grp_device.router.lan_interfaces[0] }} {{ grp_device.router.lan_interfaces[1] }}
	bond_mode 4
	bond_miimon 100