{% for export in host_nfs_exports %}
{{ export.path }} {% for client in export.authorized_clients %} {{ client.client }}{{ client.options | default('(rw,sync,no_root_squash,nohide)') }}{% endfor %}

{% endfor %}