---
restic_repositories:
  - { name: pool, repo: "{{ pool_s3_repo }}" }
  - { name: vaultwardendb, repo: "{{ vaultwardendb_s3_repo }}" }

resticprofile_config:
  version: "1"
  root:
    initialize: true
    password-file: password.txt
    backup:
      schedule:
        - '*-*-* 23:30:00'
      schedule-permission: user
    env:
      AWS_ACCESS_KEY_ID: "{{ aws_access_key_id }}"
      AWS_SECRET_ACCESS_KEY: "{{ aws_secret_access_key }}"

  groups:
    default:
      - pool
      - vaultwardendb

  pool:
    inherit: root
    repository: "{{ pool_s3_repo }}"
    backup:
      verbose: true
      tag:
        - vaultwarden
        - files
      source:
        - /fern/emanon/
        - /fern/emanonlab/articles
        - /fern/emanonlab/dev
        - /fern/emanonlab/drawio
        - /fern/emanonlab/emp
        - /fern/emanonlab/secrets
        - /fern/containers/bitwarden
        - /fern/containers/homeassistant
        - /fern/containers/jellyfin
        - /fern/containers/satisfactory
        - /fern/containers/satisfactory1-1
        - /fern/containers/satisfactory1.1
        - /fern/containers/mosquitto
        - /root/zfs_datasets_keys
        - /root/zfs_volumes_keys

  vaultwardendb:
    inherit: root
    repository: "{{ vaultwardendb_s3_repo }}"
    backup:
      verbose: true
      tag:
        - vaultwarden
      stdin: true
      stdin-filename: bitwarden.sqlite3
      stdin-command:
        - /usr/bin/sqlite3 /fern/containers/bitwarden/data/db.sqlite3 .dump
