- name: Enable rtadvd
  community.general.sysrc:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
  loop:
    - { name: rtadvd_enable, value: "YES" }
    - { name: rtadvd_interfaces, value: igb1 }
  notify: restart rtadvd

- name: Configure rtadvd
  ansible.builtin.copy:
    content: |
      igb1:\
             :raflags#192:\
             :addr="2a01:e0a:94f:f401::":\
             :prefixlen#64:\
             :maxinterval#90:\
             :mininterval#30:\
             :rdnss="2a01:e0a:94f:f401::0":\
             :dnssl="home.arpa,int.emanon.dev":
    dest: /etc/rtadvd.conf
    owner: root
    group: wheel
  notify: Restart rtadvd
