---
- name: Install coredns
  community.general.pkgng:
    name: coredns
    state: present

- name: Enable coredns service
  community.general.sysrc:
    name: coredns_enable
    value: "YES"

- name: Configure CoreDNS
  ansible.builtin.template:
    src: Corefile.j2
    dest: "{{ coredns_path }}/Corefile"
    owner: root
    group: wheel
    mode: u=rwx,g=,o=
  notify: Restart coredns

- name: Configure CoreDNS local-zone file
  ansible.builtin.template:
    src: master.db.j2
    dest: "{{ coredns_path }}/master.db"
    owner: root
    group: wheel
    mode: u=rwx,g=,o=
  notify: Restart coredns
