---
- name: Create transmission volumes dir
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: emanon
    group: emanon
    mode: u=rwx,g=,o=
  loop: "{{ transmission_directories }}"
  become: true
  become_user: "{{ primary_user_username }}"

- name: Run transmission container
  community.docker.docker_container:
    name: transmission
    image: "{{ transmission_image }}:{{ transmission_image_version }}"
    published_ports: "{{ transmission_ports }}"
    volumes: "{{ transmission_volumes }}"
    env: "{{ transmission_env }}"
    user: root
    capabilities: [NET_ADMIN]
    restart_policy: unless-stopped
    state: started
  become: true
  become_user: "{{ primary_user_username }}"
