[Unit]
Description=promtail is the agent responsible for gathering logs and sending them to Loki.
Documentation=https://grafana.com/docs/loki/latest/clients/promtail/
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/promtail/promtail-linux-{{ cpu_architecture }}-{{ promtail_version }}/promtail-linux-{{ cpu_architecture }} \
          -positions.file /tmp/positions.yml -config.file "{{ promtail_path }}/promtail.yml"
User=promtail
TimeoutStopSec=30s
NoNewPrivileges=true
MemoryDenyWriteExecute=true
RestrictRealtime=true
ProtectHome=true
ProtectSystem=strict
PrivateTmp=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true

[Install]
WantedBy=multi-user.target