[Unit]
Description=Periodic echo-request service to {{ host_is_alive_echo_request_target }}
After=network-pre.target

[Service]
Type=simple
User={{ primary_user_username }}
Group={{ primary_user_username }}
ExecStart=/usr/bin/ping -c {{ is_alive_echo_request_count }} {{ host_is_alive_echo_request_target }}
AmbientCapabilities=CAP_NET_RAW
ProtectHome=read-only
ProtectSystem=full
ProtectControlGroups=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes

[Install]
WantedBy=multi-user.target