[Unit]
Description=Periodic echo-request timer to {{ is_alive_echo_request_target }}

[Timer]
OnStartupSec=1m
OnUnitActiveSec={{ is_alive_echo_request_interval }}
Unit=isAlive.service

[Install]
WantedBy=multi-user.target