---
- name: Daemon-reload coredns service
  ansible.builtin.systemd:
    daemon_reload: true

- name: Enable coredns service
  ansible.builtin.systemd:
    name: coredns.service
    enabled: true

- name: Restart coredns service
  ansible.builtin.systemd:
    name: coredns.service
    state: restarted

- name: Restart coredns
  ansible.builtin.service:
    name: coredns
    state: restarted
