[Interface]
Address = {{ host_wireguard_server_address }}
ListenPort = {{ wireguard_server_port }}
PrivateKey = {{ host_wireguard_server_private_key }}

{% for peer in host_wireguard_peers %}
[Peer]
# {{ peer.peer }}
PublicKey =  {{ peer.public_key }}
PresharedKey = {{ peer.preshared_key }}
AllowedIPs = {{ peer.ip_address }}

{% endfor %}