[Interface]
Address = {% for ip in host_wireguard_server_addresses %}{{ ip }}{% if not loop.last %}, {% endif %}{% endfor +%}
ListenPort = {{ wireguard_server_port }}
PrivateKey = {{ host_wireguard_server_private_key }}

{% for peer in host_wireguard_peers %}
[Peer]
# {{ peer.peer }}
PublicKey =  {{ peer.public_key }}
PresharedKey = {{ peer.preshared_key }}
AllowedIPs = {% for ip in peer.ip_addresses %}{{ ip }}{% if not loop.last %}, {% endif %}{% endfor +%}

{% endfor %}