[Unit]
Description=Restic Backup
Wants=restic.timer

[Service]
Type=simple
User=restic
Group=restic
EnvironmentFile=/etc/systemd/system/restic.env
ExecStart=/home/restic/bin/restic -vvv backup --files-from /home/restic/bin/configs_path
ExecStopPost=/bin/sh -c 'if [ $$EXIT_STATUS != '0' ]; then echo "Subject: Systemd service error\nrestic.service failed check the status" | msmtp notify@emanon.moe; fi;'

[Install]
WantedBy=multi-user.target