<target {{ item.iqn }}>
    {%- if item.backing_stores is defined +%}
    {% for bstore in item.backing_stores %}<backing-store {{ bstore.backing_store }}>
        vendor_id {{ dstores.vendor_id | default('LUN configured by ansible') }}
        block-size {{ bstore.block_size | default('4096') }}
    </backing-store>
    {% endfor %}{% endif %}
    {%- if item.direct_stores is defined +%}
    {% for dstores in item.direct_stores %}<direct-store {{ dstores.direct_store }}>
        vendor_id {{ dstores.vendor_id | default('LUN configured by ansible') }}
        block-size {{ dstores.block_size | default('4096') }}
    </direct-store>
    {% endfor %}{% endif %}


    {%- if item.incoming_users is defined +%}
    {% for users in item.incoming_users %}incominguser {{ users.username }} {{ users.password }}
    {% endfor %}{% endif +%}

    {%- if item.initiator_addresses is defined +%}
    {% for address in item.initiator_addresses %}initiator-address {{ address.initiator_address }}
    {% endfor %}{% endif +%}
</target>
