defaults
port 587
tls on
tls_trust_file /etc/ssl/certs/ca-certificates.crt

account gandi
host mail.gandi.net
from {{ gandi_email }}
auth on
user {{ gandi_email }}
password {{ gandi_mail_password }}

account default : gandi