---
- name: Upgrade Kernel to "{{ kernel_version }}" for debian
  become: true
  hosts: all
  vars:
    kernel_version: 5.10.0-0.bpo.4-amd64 # https://packages.debian.org/search?keywords=linux-image+bpo+amd64&searchon=names&section=all

  tasks:
    - name: Upgrade Kernel to "{{ kernel_version }}"
      ansible.builtin.apt:
        name:
              - linux-image-{{ kernel_version }}
              - linux-headers-{{ kernel_version }}

    - name: Reboot to apply Kernel upgrade
      ansible.builtin.reboot:
        reboot_timeout: 300
