---
- name: Remove debian repo
  become: true
  hosts: all
  vars:
    repo: "deb https://dl.cloudsmith.io/public/isc/kea-1-9/deb/debian buster main"
  tasks:
  - name: Remove Debian Repository
    ansible.builtin.apt_repository:
      repo: "{{ repo }}"
      state: absent
