# my global config
global:
  scrape_interval:     15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

# Alertmanager configuration
alerting:
  alertmanagers:
  - static_configs:
    - targets:
      # - alertmanager:9093

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: 'prometheus'
    static_configs:
    - targets: ['localhost:9090']

  - job_name: 'frr'
    scrape_interval: 5s
    static_configs:
    - targets: ['192.168.5.1:9100']

  - job_name: 'arch'
    scrape_interval: 5s
    static_configs:
    - targets: ['192.168.20.20:9100']

  - job_name: 'pi'
    scrape_interval: 5s
    static_configs:
    - targets: ['192.168.10.30:9100']

  - job_name: 'tmp117'
    scrape_interval: 5s
    static_configs:
    - targets: ['192.168.50.60:9100']
  
  - job_name: 'coredns'
    scrape_interval: 5s
    static_configs:
    - targets: ['192.168.5.1:9353']

  - job_name: 'SHP10'
    scrape_interval: 5s
    static_configs:
    - targets: ['192.168.50.50:80']
      labels:
        shp_device: 'Homelab'
    - targets: ['192.168.50.51:80']
      labels:
        shp_device: 'Supermicro'
    - targets: ['192.168.50.52:80']
      labels:
        shp_device: 'Brocade'
    - targets: ['192.168.50.53:80']
      labels:
        shp_device: 'Qotom'
    - targets: ['192.168.50.54:80']
      labels:
        shp_device: 'Raspberry'
    
  - job_name: 'kea'
    scrape_interval: 10s
    static_configs:
    - targets: ['192.168.5.1:6764']