---
- name: Update core packages for debian
  ansible.builtin.apt:
    update_cache: true
    upgrade: true

- name: Install core packages for debian
  ansible.builtin.apt:
    name: "{{ debian_stable_packages }}"
    state: present

- name: Enable ssd trim
  ansible.builtin.systemd:
    name: fstrim.timer
    state: started
    enabled: true
