---
- name: Include init variables
  ansible.builtin.include_tasks:
    file: variables.yml

- name: Include redhat tasks
  ansible.builtin.include_tasks:
    file: redhat.yml
  when: ansible_os_family == 'RedHat'

- name: Include debian tasks
  ansible.builtin.include_tasks:
    file: debian.yml
  when: ansible_os_family == 'Debian'

- name: Set root password
  ansible.builtin.user:
    name: root
    comment: Password updated by ansible
    password: "{{ root_user_password | password_hash('sha512', root_user_password_salt) }}"
    state: present

- name: Add primary user
  ansible.builtin.user:
    name: "{{ primary_user_username }}"
    create_home: true
    shell: /usr/bin/zsh
    comment: Primary user created by Ansible
    password: "{{ primary_user_password | password_hash('sha512', primary_user_password_salt) }}"
    state: present

- name: Add primary user to sudoers
  ansible.builtin.lineinfile:
    path: /etc/sudoers
    line: "{{ primary_user_username }} ALL=(ALL:ALL) NOPASSWD: ALL"
    state: present
    validate: /usr/sbin/visudo -cf %s
